.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 30px;
}




table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}
